

#countDown {
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    position: relative;
    top: 100px;
    font-size: 50px;
}

h1 {
   
    font-family: 'Comic Sans MS', 'sans-serif';
}


 #main {
    color: #000;
    background: #DAE4F0;
    border-radius: .5em;
    overflow: auto;
    width: 400px;
    height: 400px;
}

.btn { 
    background-color: #b8c1d1;
    border-radius: .5em;
    width: 70px;
    height: 30px;
    position: relative;
    top: 220px;
}

#shortbreak {
    position:relative;
    font-size: 30px;
    top: 90px;
    LEFT: 200PX;
    COLOR: #081f44;
    height: 100px;
    font-family: 'Comic Sans MS', 'sans-serif';
    font-weight: bold;
}

body {
    
     background: linear-gradient(to right, #7fa5e2, #928dab);
    

}

    #picture {
        /*put picture div to take right side*/
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 40%;
        right: 0px;
        /*centers the picture's content both vertically and horizontally*/
        display: flex;
        align-items: center;
        justify-content: center;
    }

#clock{
    
   width: 900px;
}