

#countDown {
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';

    position: relative;
    top: 100px;
    font-size: 25px;
}

h1 {
   
    font-family: 'Noto Sans', 'sans-serif';
}


 #main {
    color: #000;
    background: #DAE4F0;
    border-radius: .5em;
    overflow: auto;
    width: 400px;
    height: 300px;
}

.btn { 
    background-color: #b8c1d1;
    border-radius: .5em;
    width: 70px;
    height: 30px;
    position: relative;
    top: 220px;
}

